#alert.not_found
%h1 Fare Fair Share

#loading
  %h2 Loading
  %img{src: 'app_loader.gif'}

#ready
  #initialContent
    #origin

    %p
      %label{style: 'display: block;'} Final Fare
      %input#finalFare{type: 'text', name: 'fare', value: '100.00'}

  #waypoints
  #reports

  #buttons
    %button#addWaypoint.fa.fa-plus-square Add Cab Stop
    %button#calculateShares.fa.fa-usd Get Fair Share

%script#tmpWaypoint{type: 'txt/template'}
  .addressInputControlHeader
    %img.loader{src: 'waypoint_loader.gif'}
  .addressInputControls
    %input.address{type: 'text', value: '{{address}}'}
    %button.getCurrentLocation.fa.fa-compass
  %button.removeWaypoint.fa.fa-trash-o Remove
