#alert.not_found
%h1 Fare Fair Share
%p#intro
  A fair way to split a cab ride using a
  %a{href: 'https://github.com/abelmartin/fair-fare-share#introduction', target: '_blank'}
    trip-leg
  algo.

  %span#visit-on-mobile-web Try the site on a phone :)

#loading
  %h2 Loading
  %img{src: image_url('app_loader.gif')}

#ready
  #initialContent
    #origin

    %p
      %label{style: 'display: block;'} Final Fare
      %input#finalFare{type: 'text', name: 'fare', value: '100.00'}

  #waypoints
  #reports

  #buttons
    %button#calculateShares.fa.fa-money Get Shares
    %button#addWaypoint.fa.fa-plus-circle Add Stop

%script#tmpWaypoint{type: 'txt/template'}
  .addressInputControlHeader
    %img.loader{src: image_url('waypoint_loader.gif')}
  .addressInputControls
    %input.address{type: 'text', value: '{{address}}'}
    %button.getCurrentLocation.fa.fa-map-marker
  %button.removeWaypoint.fa.fa-trash-o Remove

%script#tmpReport{type: 'txt/template'}
  .report ({{mileage}}, {{percentage}}%, ${{fareShareString}})


- content_for :bottom do
  :coffee
    $ -> FFS.start(#{@debug_stops})