#alert.not_found
%h1 Fare Fair Share

#loading
  %h2 Loading
  %img{src: 'app_loader.gif'}

#ready
  #origin

  %p
    %label Final Fare
    %input#finalFare{type: 'text', name: 'fare', value: '100.00'}

  %hr

  #waypoints

  #buttons
    %button#calculateShares.fa.fa-usd Get Fair Share
    %button#addWaypoint.fa.fa-plus-square Add Cab Stop

%script#tmpWaypoint{type: 'txt/template'}
  %button.getCurrentLocation.fa.fa-compass Current Location
  %span.results ({{mileage}} miles, {{percentage}}%, ${{fareShare}})
  %img.loader{src: 'waypoint_loader.gif'}
  %input.address{type: 'text', value: '{{address}}'}
  %button.removeWaypoint.fa.fa-trash-o Remove
