%h1 Fare Fair Share

#loading
  %h2 Loading
  %img{src: 'loader.gif'}

#ready
  %ul#origin

  %p
    %label Final Fare
    %input#finalFare{type: 'text', name: 'fare', value: '100.00'}

  %hr

  %ul#waypoints

  #buttons
    %button#addWaypoint Add Waypoint
    %button#calculateShares Get Fair Share

%script#tmpWaypoint{type: 'txt/template'}
  %button.getCurrentLocation (+)
  %span.results ({{mileage}} miles, {{percentage}}%, ${{fareShare}})
  %button.removeWaypoint Remove
  %input.address{type: 'text', value: '{{address}}'}