%h1 FFS

:scss
  input[type='text'], label, .distance{
    display: inline-block;
    margin-left: 15px;
  }

  label{ width: 120px; }
  input[type='text']{ width: 150px; }
  .distance{width: 250px; }

%form#ffs
  %p
    %label Starting Location
    %input#origin{type: 'text', name: 'origin', value: '4134 crescent st 11101'}
  %p
    %label Final Fare
    %input#finalFare{type: 'text', name: 'fare', value: '81.90'}

  %hr

  %p.waypoint_0
    %label Stop 1
    %input{type: 'text', name: 'waypoints[]', value: '3064 34th st 11103'}
    %span.distance (mile: xxx, %: yyy, $: zzz)

  %p.waypoint_1
    %label Stop 2
    %input{type: 'text', name: 'waypoints[]', value: '62-29 Roosevelt Ave 11377'}
    %span.distance (mile: xxx, %: yyy, $: zzz)

  %p.waypoint_2
    %label Stop 3
    %input{type: 'text', name: 'waypoints[]', value: '59-40 55th Rd 11378'}
    %span.distance (mile: xxx, %: yyy, $: zzz)

  %button#getShares Get Fair Share