// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-size: 2em;
  text-align: center;
  width: 100%;
}

input[type='text'] {
  display: block;
  font-size: 1em;
  margin: 0 auto;
  width: 90%;
}

hr { width: 90%; }

button {
  font-size: .75em;
}

h1 { text-align: left; }

.found {
  background-color: #BFB;
  border: solid 2px #0B0;
}

.not_found {
  background-color: #FBB;
  border: solid 2px #B00;
}

ul { padding: 0; }
li { margin-top: 1.25em;}

#origin {
  .results, .removeWaypoint{ display: none; }
}

.getCurrentLocation.off { display: none; }

#loading { text-align: center; }
#ready {
  display: none;
  margin: 0 auto;
  text-align: left;
}

#buttons {
  margin: 0 auto;
  width: 90%;
}