// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-size: 2em;
  // padding: 0 10px;
  text-align: center;
  // width: 100%;
  width: 800px;
}

input[type='text'] {
  // display: block;
  font-size: 1em;
  margin: 0 auto;
  width: 100%;
}

body { padding: 0 30px;}

hr { width: 90%; }

button {
  font-size: .75em;
  border: 1px solid gray;
  padding: 15px;
}

h1 { text-align: left; }

ul {
  list-style: none;
  padding: 0;
}
li { margin-top: 1.25em;}

.fa:before {
  padding-right: 10px;
}

.found {
  background-color: #BFB;
  border: solid 2px #0B0;
}

.not_found {
  background-color: #FBB;
  border: solid 2px #B00;
}

#origin {
  .results, .removeWaypoint{ display: none; }
}

.getCurrentLocation.off { display: none; }

.removeWaypoint{
  display: block;
  background-color: #900;
  margin: 0 auto;
  width: 250px;
}

.getCurrentLocation {
  background-color: orange;
}

img.loader { display: none; }

#loading { text-align: center; }
#ready {
  display: none;
  margin: 0 auto;
  text-align: left;
}

#buttons {
  margin: 0 auto 20px;
  width: 90%;
}

#alert {
  display: none;
  padding: 5px;
  position: fixed;
  right: 5px;
}

#waypoints {
  margin-bottom: 60px;
}

#calculateShares {
  background-color: #090;
  float: right;
}

#addWaypoint {
  background-color: #009;
  color: white;
}